#header{
    background: cyan;
    border: 1px solid violet;
    margin: 10px;
}
.header{
    background-color: hotpink;
    text-align: left;
    margin: 10px;
}
#section{
    background-color: rgb(84, 154, 219);
    border: 1px solid black;
    margin: 10px;
}
#first-list{
    background-color: rgb(226, 145, 236);
    border-radius:5px;
    padding: 10px;
    margin: 10px;
}
.section{
    background-color: palevioletred;
}
#aside{
    background: rgb(230, 109, 149);
    border: 1px solid black;
    margin: 10px;
}
#footer{
    background: rgb(194, 155, 238);
    border: 2px solid rgb(41, 40, 105);
    margin: 10px;
}